/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid var(--global-border-color);

  & + table {
    margin-top: 1em;
  }
}

thead {
  /* 表头背景色（你可以改成自己喜欢的颜色） */
  background-color: var(--global-border-color);
  border-bottom: 1px solid var(--global-border-color);
  color: #ffffff;  /* 表头文字改成白色 */
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid var(--global-border-color);
}

td {
  padding: 0.5em;
  border-bottom: 1px solid var(--global-border-color);
  border-right: 1px solid var(--global-border-color);
}

tr,
td,
th {
  vertical-align: middle;
}
